---
let username = "Cristian Camilo";
---

<h1 class="titleEdit">Hola parcero</h1>
<p>Welcome {username} </p>

<style>
    .tittleEdit{
        color: aqua;
        display: block;
    }

    .p{
        background-color: brown;
    }
</style>